# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDrvDVYC3nyiT7I3wWPe4geySOodKcv1LM
VITE_FIREBASE_AUTH_DOMAIN=my-finance-bafde.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=my-finance-bafde
VITE_FIREBASE_STORAGE_BUCKET=my-finance-bafde.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=976624884500
VITE_FIREBASE_APP_ID=1:976624884500:web:1cee6b55c7e906dbbb4001
VITE_FIREBASE_VAPID_KEY=""    
VITE_ALLOWED_EMAIL=fasilkolleth@gmail.com


# Google Gemini API (free tier) — get a key at https://aistudio.google.com/apikey
VITE_GEMINI_API_KEY=AQ.Ab8RN6JSv5vAqLpbbtwnHduZT1a7WRKoVR653_XxewmHHXuWPw
